@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed";
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
}

.game-page-container {
  background-image: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  margin: 0;
  min-height: 100vh;
  padding: 2rem;
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid hsl(217, 16%, 45%);
}

.score-container {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  background: white;
}

.score-header {
  width: 100%;
  display: flex;
  justify-content: center;
  color: hsl(189, 59%, 53%);
  padding: 0.5rem 0;
  font-size: 20px;
}

.score-counter-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 48px;
}

.score-counter {
  line-height: 32px;
}

.pick-an-option-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pick-an-option {
  height: 450px;
  padding: 5rem;
  position: relative;
}

.game-button {
  position: absolute;
  padding: 1rem;
  z-index: 1;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: none;
  cursor: pointer;

  &-rock {
    @extend .game-button;
    outline: 1rem solid hsl(349, 71%, 52%);
    bottom: 20%;
    left: 39%;
  }

  &-paper {
    @extend .game-button;
    outline: 1rem solid hsl(230, 89%, 62%);
    top: 10%;
    left: 10%;
  }

  &-scissors {
    @extend .game-button;
    outline: 1rem solid hsl(39, 89%, 49%);
    top: 10%;
    right: 10%;
  }
}

.reset-and-modal-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset-and-modal-buttons {
  height: 2rem;
  font-size: 14px;
  border-radius: 5px;
  padding: 0 2rem;
  cursor: pointer;
  background-color: hsl(237, 49%, 15%);
  color: white;
  border: none;
  outline: 1px solid rgb(206, 201, 201);
}

.rules-modal-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
}

.rules-modal {
  height: 400px;
  width: 400px;
  background-color: white;
  border-radius: 10px;
  opacity: 1;
  z-index: 10;
  color: black;
  padding: 2rem;

  &-header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.close-icon {
  cursor: pointer;
}

.no-button {
  border: none;
  outline: none;
  background-color: white;
}

.header {
  margin: 0;
  font-weight: 700;
}

.inline {
  display: inline;
}

.image-rules-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.result-container {
  height: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.result-choice {
  height: 350px;
  width: 35%;
}

.result-outcome {
  width: 30%;
}

.result-header {
  color: white;
  padding: 0 1rem;
  font-weight: 500;
  text-align: center;
}

.game-choice-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.game-choice {
  padding: 1rem;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  border: none;

  &-rock {
    @extend .game-choice;
    outline: 2rem solid hsl(349, 71%, 52%);
  }

  &-paper {
    @extend .game-choice;
    outline: 2rem solid hsl(230, 89%, 62%);
  }

  &-scissors {
    @extend .game-choice;
    outline: 2rem solid hsl(39, 89%, 49%);
  }

  &-none {
    @extend .game-choice;
    background-color: black;
    outline: 2rem solid black;
  }
}

.outcome-header {
  color: white;
  text-align: center;
}

.play-again-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

.play-again-button {
  background-color: white;
  color: hsl(237, 49%, 15%);
  border: 1px solid white;
  border-radius: 5px;
  width: 200px;
  height: 2.5rem;
  font-size: 1.1rem;
  cursor: pointer;
}
