<div class="game-page-container">
  <app-navbar></app-navbar>
  @if( (uiComponent$ | async ) === 'pickAnOption') {

  <app-pick-an-option></app-pick-an-option>
  } @else {
  <app-result></app-result>
  }
  <div class="reset-and-modal-buttons-container">
    <app-button
      [text]="'RESET SCORE'"
      [buttonCssStyling]="'reset-and-modal-buttons'"
      (onClick)="resetScore()"
    ></app-button>
    <app-button
      [text]="'RULES'"
      [buttonCssStyling]="'reset-and-modal-buttons'"
      (onClick)="showModal()"
    ></app-button>
  </div>
  <app-rules-modal></app-rules-modal>
</div>
