<div class="pick-an-option-container">
  <div class="pick-an-option">
    <app-icon-img
      [src]="'/bgTriangle.svg'"
      [alt]="'Triangular container for rock, paper and scissors options.'"
    ></app-icon-img>
    <app-game-button
      [iconImg]="'/iconRock.svg'"
      [iconImgAlt]="'Picture of rock icon.'"
      [cssStyle]="rockIconCssStyle"
      [playerChoice]="'rock'"
    ></app-game-button>

    <app-game-button
      [iconImg]="'/iconPaper.svg'"
      [iconImgAlt]="'Picture of paper icon.'"
      [cssStyle]="paperIconCssStyle"
      [playerChoice]="'paper'"
    ></app-game-button>

    <app-game-button
      [iconImg]="'/iconScissors.svg'"
      [iconImgAlt]="'Picture of scissors icon.'"
      [cssStyle]="scissorsIconCssStyle"
      [playerChoice]="'scissors'"
    ></app-game-button>
  </div>
</div>
